
/* ================= SUBMENU ================= */

.dropdown-menu {
    position: absolute;
    top: 130%;
    left: 0;
list-style: none;
    background-color: #ffffff;
    min-width: 220px;
    padding: 0.5rem 0;

    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);

    transition: all 0.3s ease;
}

.dropdown-menu li {
    padding: 0.5rem 1.5rem;
}

.dropdown-menu a {
    color: #333;
    font-size: 0.95rem;
}

.dropdown-menu a:hover {
    color: #0a2540;
}

/* MOSTRAR SUBMENU */
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
/* ================= BOTÃO CTA ================= */

.nav-cta .btn-orcamento {
    padding: 0.6rem 1.4rem;
    background-color: #05ac46;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-cta .btn-orcamento:hover {
    background-color: #48ff00;
    transform: translateY(-2px);
}


/* ================= FOOTER ================= */

.footer {
    background-color : #000000;
    color: #ffffff;
    margin-top: 4rem;
}
.footer .footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-container {
    
    max-width: 2000px;
    margin: 0 auto;
    padding: 1rem 2rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.footer-col h3 ,
.footer-col h4 {
    margin-bottom: 1rem;
    font-weight: 600;
    color: #ffffff;

}

.footer-col h3 {
    font-size: 1.4rem;
}

.footer-col h4 {
    
    font-size: 1.9rem;
}

.footer-col p,
.footer-col li {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #dce3ea;
    text-align: center;
    margin-top: 40px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 0.6rem;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.footer-socials a {
    color: #dce3ea;
    text-decoration: none;
    font-size: 0.95rem;
    transition: color 0.3s ease;
    margin-top: 30px;
    padding-left: 10%;
}

.footer-socials a:hover {
    color: #ffffff;
}

.footer-cta p {
    margin-bottom: 1.2rem;
}

.btn-footer {
    display: inline-block;
    padding: 0.6rem 1.6rem;

    background-color: #ffffff;
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    font-weight: 600;

    border-radius: 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-footer:hover {
    background-color:  #66ff00;
    transform: translateY(-2px);
}

.footer-bottom {
    background-color: #000000;
    text-align: center;
    padding: 1rem;
    
}

.footer-bottom p {
    font-size: 0.85rem;
    color: #b9c6d3;
}
