<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">

<footer class="footer">
    <div class="footer-container">

        <div class="footer-col footer-info">
            <h4>Instalações Administrativas</h4>

            <a 
                href="https://maps.app.goo.gl/BaUDJ1YxwfVLJe5K7"
                target="_blank"
                rel="noopener"
                class="footer-link"
            >
                📍 Av. Dr. José Henriques Vareda 9 1°A, <br>
                2430-308 Marinha Grande, Portugal
            </a>

            <div class="footer-phone-container">
                <p class="footer-phone">
                    <span class="phone-number"  >📞 244 566 540</span>
                    <span class="phone-obs">*Custo de chamada da rede fixa nacional</span>
                </p>

                <p class="footer-phone">
                    <span class="phone-number">📱 917 334 536</span>
                    <span class="phone-obs">*Custo de chamada da rede móvel nacional</span>
                </p>
            </div>
        </div>

        <div class="footer-col footer-actions">
  <a href="https://mail.google.com/mail/?view=cm&fs=1&to=geral@guilimpa.pt&su=Pedido de Informação - Serviços de Limpeza eLimpa&body=Exmos. Senhores,%0D%0A%0D%0AO meu nome é [Nome] e estou a entrar em contacto para solicitar algumas informações sobre os vossos serviços de limpeza.%0D%0A%0D%0AGostaria de obter esclarecimentos relativamente:%0D%0A%0D%0A- Tipos de serviços disponíveis:%0D%0A- Produtos utilizados:%0D%0A- Disponibilidade para agendamento:%0D%0A%0D%0AMeus contactos:%0D%0A- Nome:%0D%0A- Telemóvel:%0D%0A%0D%0AFico a aguardar o vosso contacto.%0D%0A%0D%0ACom os melhores cumprimentos," 
   target="_blank" 
   title="Enviar Pedido de Informação">
    <img src="/emailimg1.png" alt="Email GUI LIMPA">
</a>

     <a href="https://wa.me/351917334536?text=Exma.%20Guilimpa,%0A%0AChamo-me%20[Nome]%20e%20gostaria%20de%20obter%20mais%20informações%20sobre%20os%20vossos%20serviços%20de%20limpeza.%0A%0AGostaria%20de%20esclarecer:%0A-%20Tipos%20de%20servi%C3%A7os%20dispon%C3%ADveis%0A-%20Disponibilidade%20para%20agendamento%0A-%20Valores%20base%20praticados%0A%0AFico%20a%20aguardar%20o%20vosso%20contacto.%0A%0ACom%20os%20melhores%20cumprimentos,%0A[Nome]" 
   target="_blank" 
   rel="noopener"
   title="Enviar Pedido de Informação via WhatsApp">
        <img src="/whatsappimg1.png" alt="WhatsApp GUI LIMPA">
    </a>
</div>

        <div class="footer-col footer-socials">
            <h4>Siga-nos</h4>

            <ul class="box-redes-sociais coluna">
                <li class="facebook">
                    <a href="https://www.facebook.com/GuilimpaServicosLda/about" target="_blank">
                        <i class="fab fa-facebook-f icon2"></i>
                    </a>
                </li>
                <li class="instagram">
                    <a href="https://www.instagram.com/guilimpa.lda/" target="_blank">
                        <i class="fab fa-instagram icon2"></i>
                    </a>
                </li>
                
            </ul>
        </div>

        <div class="footer-col footer-cta">
            <h4>Vamos trabalhar juntos?</h4>
            <div class="cta-content">
                <p>
                    Junte-se à nossa equipa Guilimpa e faça parte de uma empresa comprometida com
            a excelência e o profissionalismo.<br>
                    
                </p>
                <a href="../pages/candidatura.html" class="btn-footer">
                    Fale Connosco
                </a>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        <p>© 2026, GUILIMPA | Todos os direitos reservados.</p>
        <p>
    <a href="https://www.livroreclamacoes.pt/Inicio/" class="livro-link-wrapper">
        <img src="/assets/images/icons/livroreclamacoesimg.png" alt="Livro de Reclamações" class="livro-icon">
        Livro De Reclamações
    </a>
</p>
       <p> <a href="../pages/politicasdeprivacidadeeutilizacao.html" style="color: inherit; text-decoration: underline;">
            Termos e Condições de Utilização / Política de Privacidade
        </a></p>
        <p>A GUILIMPA não se responsabiliza por eventuais erros publicados no website.</p>
    </div>
</footer>
