<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">

<nav class="navbar">
    <div class="navbar-container">
        <button class="navbar-toggle" id="navbarToggle">☰</button>

        <a href="/index.html" class="navbar-logo">
            <img src="/logo.png" alt="Guilimpa">
        </a>
        <ul class="navbar-links">

            <li><a href="../index.html" class="link">Início</a></li> 

            <!-- GERAL -->
            

           

            <!-- SERVIÇOS -->
            <li class="nav-item dropdown" data-dropdown="servicos">
                <button class="dropdown-toggle">Serviços</button>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Especialidades de limpeza</li>
                    <li><a href="/pages/servicos.html#limpeza-ensino">Limpeza Área de Ensino</a></li>
                    <li><a href="/pages/servicos.html#limpeza-comercial">Limpeza Comercial</a></li>
                    <li><a href="/pages/servicos.html#limpeza-industrial">Limpezas Industriais</a></li>
                    <li><a href="/pages/servicos.html#limpeza-final-obra">Limpezas Final de Obra</a></li>
                    <li><a href="/pages/servicos.html#limpeza-em-altura">Limpeza em Altura</a></li>
                    <li><a href="/pages/servicos.html#limpeza-saude">Limpeza Área da Saúde</a></li>
                    <li><a href="/pages/servicos.html#limpeza-estacionamento">Limpeza de Parques de Estacionamento</a></li>
                    <li><a href="/pages/servicos.html#limpeza-publica-privada">Limpeza em Espaços Públicos e Privados</a></li>
                    <li><a href="/pages/servicos.html">Todos os Serviços</a></li>
                </ul>
            </li>

            <li><a href="/pages/sobre.html">Sobre Nós</a></li> 

           <li class="nav-item dropdown" data-dropdown="contactos">
    <button class="dropdown-toggle" href="/pages/contacto.html">Contactos</button>
    <ul class="dropdown-menu container-contactos">

        <li class="item-texto">
            <strong>Departamento Financeiro</strong><br>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=geral@elimpa.pt&su=Pedido de Informação - Serviços de Limpeza eLimpa&body=Exmos. Senhores,%0D%0A%0D%0AO meu nome é [Nome] e estou a entrar em contacto para solicitar algumas informações sobre os vossos serviços de limpeza.%0D%0A%0D%0AGostaria de obter esclarecimentos relativamente:%0D%0A%0D%0A- Tipos de serviços disponíveis:%0D%0A- Produtos utilizados:%0D%0A- Disponibilidade para agendamento:%0D%0A%0D%0AMeus contactos:%0D%0A- Nome:%0D%0A- Telemóvel:%0D%0A%0D%0AFico a aguardar o vosso contacto.%0D%0A%0D%0ACom os melhores cumprimentos," 
   target="_blank" 
   title="Enviar Pedido de Informação">📧 geral@guilimpa.pt</a><br>
            <a href="tel:+351244566540">📞 244 566 540</a>
            <p>*Custo de chamada da rede fixa nacional</p>
        </li>

        <li class="item-texto">
            <strong>Departamento Comercial</strong><br>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=geral@elimpa.pt&su=Pedido de Orçamento - Serviços de Limpeza eLimpa&body=Exmos. Senhores,%0D%0A%0D%0AO meu nome é [Nome] e gostaria de solicitar um orçamento para os vossos serviços de limpeza.%0D%0A%0D%0APara que me possam apresentar uma proposta adequada, seguem alguns detalhes:%0D%0A%0D%0A- Tipo de Espaço (Ex: Apartamento, Moradia, Escritório):%0D%0A- Localização:%0D%0A- Frequência pretendida (Ex: Pontual, Semanal, Quinzenal, Mensal):%0D%0A%0D%0AOs meus contactos:%0D%0A- Nome:%0D%0A- Telemóvel:%0D%0A%0D%0AAgradeço o envio de uma proposta com a maior brevidade.%0D%0A%0D%0ACom os melhores cumprimentos," 
   target="_blank" 
   title="Enviar Pedido de Orçamento">📧 comercial@guilimpa.pt</a><br>
            <a href="https://wa.me/351917334536?text=Exma.%20Guilimpa,%0A%0AChamo-me%20[Nome]%20e%20gostaria%20de%20obter%20mais%20informações%20sobre%20os%20vossos%20serviços%20de%20limpeza.%0A%0AGostaria%20de%20esclarecer:%0A-%20Tipos%20de%20servi%C3%A7os%20dispon%C3%ADveis%0A-%20Disponibilidade%20para%20agendamento%0A-%20Valores%20base%20praticados%0A%0AFico%20a%20aguardar%20o%20vosso%20contacto.%0A%0ACom%20os%20melhores%20cumprimentos,%0A[Nome]" 
   target="_blank" 
   rel="noopener"
   title="Enviar Pedido de Informação via WhatsApp">📞 917 334 536</a>
            <p>*Custo de chamada da rede móvel nacional</p>
        </li>

        <li class="item-texto candidatura">
            <strong>Candidaturas</strong><br>
            <a href="/pages/candidatura.html">📄 Venha trabalhar connosco</a>
        </li>

        <li class="item-texto">
            <strong>Instalações Administrativas</strong><br>
            <a href="https://maps.app.goo.gl/BaUDJ1YxwfVLJe5K7" target="_blank">
                📍 Av. Dr. José Henriques Vareda, 9 – 1.º A<br>Marinha Grande
            </a>
        </li>

        <li class="container-redes">
            <ul class="box-redes-sociais">
                <li class="facebook"><a href="https://www.facebook.com/GuilimpaServicosLda/about"><i class="fab fa-facebook-f icon"></i></a></li>
                <li class="instagram"><a href="https://www.instagram.com/guilimpa.lda/"><i class="fab fa-instagram icon"></i></a></li>
                
            </ul>
        </li>
    </ul>
</li>
        <!-- CTA -->
        <div class="navbar-cta"> 
            <a href="/pages/contacto.html" class="navbar-btn">Peça um Orçamento Gratuito</a>
        </div>

        <!-- MOBILE -->
        

    </div>
</nav>