<script src="../js/whatsapp.js"></script>

<a href="https://wa.me/351917334536?text=Exma.%20Guilimpa,%0A%0AChamo-me%20[Nome]%20e%20gostaria%20de%20obter%20mais%20informações%20sobre%20os%20vossos%20serviços%20de%20limpeza.%0A%0AGostaria%20de%20esclarecer:%0A-%20Tipos%20de%20servi%C3%A7os%20dispon%C3%ADveis%0A-%20Disponibilidade%20para%20agendamento%0A-%20Valores%20base%20praticados%0A%0AFico%20a%20aguardar%20o%20vosso%20contacto.%0A%0ACom%20os%20melhores%20cumprimentos,%0A[Nome]" 
   target="_blank" 
   rel="noopener"
   title="Enviar Pedido de Informação via WhatsApp">
    <i class="fab fa-whatsapp"></i>
</a>